// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

body {
  p, li {
    text-align: justify;
  }
}

table.program td, table.program th{
  padding: 3px;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

span.author {
  font-size: smaller;
}
